:root{
    --negro: #000000;
    --azul: #274179;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--azul);
}
table {

  table-layout: fixed;
  width: 100%;
  /* border-collapse: collapse; */
}
thead > tr {
    background-color: var(--negro);
    color: var(--blanco);
    border: 3px solid black;
    font-size: 1.5vw;


}
thead > tr > th{
    border-right: 3px solid var(--blanco);
    text-align: center;
    text-decoration: underline;
}
td{
    background-color: white;
    border-right: 3px solid black;
    text-align: center;
    font-size: 1.5vw;

}
#eliminar{
    background-color: var(--negro);
    border-radius: 100%;
}
#eliminar:hover{
    background-color: #262626;
}