

:root{
    --negro: #000000;
    --azul: #14213D;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
*{
    font-family: sans-serif;
    font-weight: bold;
}
body{

    margin: 0;
    padding: 0;
}

#linkNov{
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #ffb400;
    color: #111;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}
#linkNov:hover{
    background-color: #ffd35c;
    transform: translateY(3px);}
#carousel{
    background-color: var( --azul);
    padding: 30px 0;
    height: 100vh;

}
.carousel-inner img {
    margin-top: 20px;
    height: 500px; 
    object-fit: cover; 
}
.carousel-caption{
    font-weight: bolder;
    font-size: 1.8rem;
}
#novedades{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#novedades , #novedades > .container-fluid{
    background-color: var(--gris);
}
#novedades > .container-fluid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: var(--azul);
    color: var(--negro);
    margin: 20px;
    box-sizing: border-box;
}
.card-title{
    text-align: center;
    color: var(--amarillo);
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-transform: capitalize;
}
.card-text{
    color: var(--blanco);
}


