:root{
    --negro: #000000;
    --azul: #274179;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
*{
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--azul);
}

main h2{
    color: var(--blanco);
    text-decoration: underline;
    margin-bottom: 1rem;
    text-align: center;
}
.register-container{
    background-color: var(--gris);
    border: solid 5px var(--amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;               /* ocupa el 90% del ancho del viewport */
    max-width: 500px;         /* no crece más allá de 500px */
    margin: 20px auto;           /* centrado horizontal */
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
.register-container > form{
    text-align: center;
}
.form-group {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}
.form-group label{
    color: var(--azul);
    font-weight: bold;
    margin-bottom: 10px;
}
.form-group input{
    padding: 8px;
    border: 2px solid var(--azul);
    border-radius: 5px;
    width: 250px;
}
.form-group > select{
    padding: 8px;
    border: 2px solid var(--azul);
    border-radius: 5px;
    width: 270px;
}
.register-container button {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.register-container button:hover{
    background-color: #152342;
    transform: scale(1.05);
}