:root{
    --negro: #000000;
    --azul: #274179;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
body{
  margin: 0;
  padding: 0;

}  
footer{
    margin-top: 20px;
    padding-top: 20px;
    background-color: var(--negro);
    color: white;
    
}
.container-footer {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-section h3 {
  margin-bottom: 10px;
  color: var(--amarillo);
  font-size: 1.2rem;
}
.footer-section p a {
  color: var(--amarillo);
  font-weight: bold;
}
.footer-section p a:hover {
  color: #94600c;
}
.redes-sociales{
  background-color: var(--gris);
  border: 3px solid var(--amarillo);
  border-radius: 10px;
  padding: 10px;
}
.redes-sociales h3{
  color: var(--negro);
}
.redes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.redes > a{
    font-size: 2vw;
    color: var(--amarillo);
}
.redes a:hover{
    color: #94600c;
}
.mapa iframe {
  width: 100%;
  max-width: 500px;
  height: 250px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
}
.btn-subir {
  display: inline-block;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #ffb400;
  color: #111;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}
.btn-subir:hover {
  background-color: #ffd35c;
  transform: translateY(3px);
}