:root{
    --negro: #000000;
    --azul: #274179;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
*{
    font-family: sans-serif;
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--azul);
}
.datosCliente {
    margin: 80px auto;
}
.datosCliente h1{
    text-align: center;
    color: var(--blanco);
    text-decoration: underline;
    padding-bottom: 50px ;
}
.datosCliente .datos{
    background-color: var(--gris);
    margin: 10px auto;
    width: 70vw;
    border: 5px solid var(--amarillo);
    border-radius: 10px;
}
.datosCliente .datos label{
    text-align: center;
}
.datosCliente .datos progress{
    height: 30px;
}