*{
    font-family: sans-serif;
    font-weight: bold;
}
:root{
    --negro: #000000;
    --azul: #274179;
    --amarillo: #fca311;
    --gris : #e5e5e5;
    --blanco: #fff;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--azul);
}
.container{
    margin-top: 20px;
    border: 5px solid var(--amarillo);
    background-color: var(--gris);
    width: 80%;
}
.container p {
    color: var(--negro);
    font-size: 15px ;
}